html {
    padding: 30px;
    background-color: #fafafa;
}

body {
    background-color: #fafafa !important;
}

.item {
    display: inline;
    padding: 10px;
}

.center {
    text-align: center;
}

.mauto {
    margin: auto;
}

.pad25 {
    padding: 0 10px;
}

.form-responses {
    width: 80vw;
}

.test-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #cdcdcd;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.test-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.test-radio:hover {
    background-color: #dadada;
}

.test-radio:checked {
    background-color: #cdcdcd;
}

label {
    font: 400 16px/1.7 'Open Sans', sans-serif;
}

.footer {
    position: relative;
    margin: 5vh 0 0 0;
}

.formtextgrey {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: #666;
}

.formtextred {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: rgb(201, 0, 20);
}

#subbut {
    margin: 3vh auto;
    width: 20vw;
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.hidden {
    visibility: hidden;
}

#fileinput {
    margin: 0 auto !important;
    width: auto;
    background-color: #ddd
}

#tagline {
    margin: 2vh 0 4vh 0;
}

a {
    color: #007bff !important;
}

.slidecontainer {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}